<!DOCTYPE html>
<html lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Comment - Personal Fitness</title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="body_bg2">
<div class="container">
    <div class="card card-register mx-auto mt-5 border_solid">
        <div class="card-header">User Comment</div>
        <div class="card-body">
            <form autocomplete="off" action="#" th:action="@{/user/comment}" th:object="${comment}" method="post">
                <div th:if="${error}" class="has-error text-danger" th:text="${error_message}"></div>
                <input type="hidden" th:field="*{id}"/>



                <!-- Text input-->
                <div class="form-group">
                    <label for="textinput5">Comment</label>
                    <div>
                        <input id="textinput5" name="textinput5" placeholder="Enter a comment"
                               class="form-control input-md" type="text" th:field="*{content}">
                        <span th:if="${#fields.hasErrors('content')}"
                              th:errors="*{content}">Content error</span>

                    </div>
                </div>
                <br/>
                <br/>
                <!-- Button -->

                <button type="submit" class="btn btn-primary btn-block">Submit</button>


            </form>
            <div class="text-center">

                <a class="d-block medium" href="/user">Return to user profile</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
